---
import { Post } from 'astro:db';
import Layout from '../../layouts/Layout.astro';
import { db } from 'astro:db';

export async function getStaticPaths() {
	// Import the Astro database

	// Fetch the posts from the database
	const posts = await db.select().from(Post);

	// Map the posts to the required format
	const pages = posts.map((post) => {
		return {
			id: post.id,
			userId: post.userId,
			slug: post.title, // Use the post name as the slug
			title: post.title, // Use the post name as the title
			text: post.content, // Use the post content as the text
			createdAt: post.createdAt,
			updatedAt: post.updatedAt
		};
	});

	return pages.map(
		({ slug, title, text, id, userId, createdAt, updatedAt }) => {
			return {
				params: { slug },
				props: { title, text, id, userId, createdAt, updatedAt }
			};
		}
	);
}

const { title, text, id, userId, createdAt, updatedAt } = Astro.props;
---

<Layout title={title}>
	<header class="flex items-center justify-center h-32">
		<h1 class="text-white font-mono text-2xl">{title}</h1>
	</header>
	<p class="text-white font-mono">{text}</p>
	<p class="text-white font-mono">Post ID: {id}</p>
	<p class="text-white font-mono">Created at: {createdAt}</p>
	<p class="text-white font-mono">Updated at: {updatedAt}</p>
	<p class="text-white font-mono">User ID: {userId}</p>
</Layout>
